# ---------- macOS ----------
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
Thumbs.db

# ---------- Fish ----------
# machine-specific state
fish_variables
/fishd.*

# ---------- Linux ----------
.directory
.Trash-*

# ---------- Windows ----------
Thumbs.db
desktop.ini

# ---------- editors / tools ----------
.vscode/
.idea/
*.swp
*.swo
*~
*.tmp
*.bak

# ---------- other dotfiles ----------
*.log
.cache/
.history

# ----------- ext-fish specfic ----------
pref.json
